@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.cabezal {
    background-color: #0A3D91;
    color: white;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cabezal .logo {
    position: absolute;
    left: 200px;
    height: 170px;
}
.cabezal .logo img {
    width: 170px;
    height: auto;
}
.cabezal h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0%;
}
.titulo {
    position: absolute;
    left: 440px; 
    top: 50%; 
    transform: translate(-50%, -50%); 
    color: white;
    text-align: center;
    pointer-events: none; 
}

.titulo h1 {
    margin: 0; 
    font-size: 2em; 
    font-weight: bold;
}
.contenedor-principal {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    gap: 20px; 
    padding: 20px;
    max-width: 800px; 
    margin: 0 auto; 
    text-shadow: black;
}

.fila {
    display: flex;
    gap: 30px; 
    width: 100%; 
    max-width: 800px; 
    justify-content: flex-end; 
}

.contenedor {
    background-color: #0A3D91;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    color: white;
    text-align: center;
    border-radius: 8px;
    transition: all 0.3s ease; 
    cursor: pointer; 
    text-shadow: white;
}

.contenedor.grande {
    width: 100%; 
    max-width: 600px; 
    background: image-set();
    border: 2px solid white;
}

.contenedor.pequeño {
    width: 50%; 
    max-width: 285px;
    border: 2px solid white;
}
.Accesorio1{
    position: relative;
    color: white; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    z-index: 1; 
    background: rgba(0, 0, 0, 0.5); 
    padding: 10px; 
    text-align: center; 
    border-radius: 5px; 
}
.Venta1{
    position: relative;
    color: white; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    z-index: 1; 
    background: rgba(0, 0, 0, 0.5); 
    padding: 10px; 
    text-align: center; 
    border-radius: 5px; 
}
.Moto1{
    position: relative;
    color: white; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    z-index: 1; 
    background: rgba(0, 0, 0, 0.5); 
    padding: 10px; 
    text-align: center; 
    border-radius: 5px; 
}
.Repuesto1{
    position: relative;
    color: white; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    z-index: 1; 
    background: rgba(0, 0, 0, 0.5); 
    padding: 10px; 
    text-align: center; 
    border-radius: 5px; 
}
#Moto{
    background: url(images/Moto.jpeg);
    background-size: cover;
    background-position: center;
}
#Accesorio{
    background: url(images/Casco.jpg);
    background-size: cover;
    background-position: center;
}
#Repuesto{
    background: url(images/Repuesto.jpg);
    background-size: cover;
    background-position: center;
}
#Ventas{
    background: url(images/Venta.jpg);
    background-size: cover;
    background-position: center;
}
.contenedor:hover {
    background-color: #002366; 
    box-shadow: 0 6px 12px rgb(0, 0, 0); 
}
.barra-superior {
    background-color: #002366;
    padding: -10px;
    text-align: right;
}

.barra-superior .iconos{
    cursor: pointer;
    font-size: 1.5em;
    color: white;
    position: relative;
    left: -18px;
    top: 5px;
}
.barra-lateral{
    width: 200px;
    background-color: grey;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    color: white;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.usuario-logueado {
    text-align: center;
    margin-bottom: 30px;
}
.imagen-usuario {
    width: 100px;
    height: 100px;
    background-color: grey;
    margin: 0 auto 10px;
    border: 2px solid white;
    overflow: hidden; 
}

.imagen-usuario img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    text-align: center;
    margin: 10px;
    background-color: #002366;
    border-radius: 10px;
    border: 2px solid white;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #0A3D91;
    border-radius: 10px;
}

.configuracion {
    display: flex; 
    flex-direction: column; 
    gap: 0px; 
}

.item {
    display: flex; 
    align-items: center; 
    gap: 3px; 
}
.item a {
    color: white; 
    text-decoration: none; 
    margin-left: 15px; 
}

.icono {
    font-size: 24px; 
    color: white; 
    position: relative; 
    top: 4px; 
}
.configuracion a:hover {
    text-decoration: underline;
}

.contenido-principal {
    margin-left: 220px;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #002366;
    color: white;
    margin-top: 50px;
    position: relative;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
